* {
    margin: 0;
    padding: 0;
    font-family: 'proxima_nova_rgbold',Arial,sans-serif;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

/* Top and bottom navigation panels */
.nav_h{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;
    text-transform: uppercase;
    padding: 7px 0;
    line-height: 2em;
    font-family: Arial,sans-serif;
}
.nav_h li{
    padding: 0 10px;
}
.nav_h li:hover{
    color:#520000;
    transition: color 0.5s;
}
.n_h_1{
    color: #959595;
    font-size: 70%;
}
.n_h_2{
    color: #606060;
    font-size: 90%;
}

/* Middle section with logo and icons */
.head{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-transform: uppercase;
    text-align: center;
    max-width: 1175px;
    margin: 0 auto;
}
.h_bord{
    border-top: gainsboro 1px solid;
    border-bottom: gainsboro 1px solid;
}

/* Icons */
.nav_ic{
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 0;
}
.fac_ic{
    width: 62px;
    height: 42px;
    background: url("../images/tags.png") -38px -14px;
    margin-right: 8px;
    opacity: 1;
}
.twi_ic{
    width: 62px;
    height: 42px;
    background: url("../images/tags.png") -108px -14px;
    margin-right: 8px;
}
.tel_ic{
    width: 62px;
    height: 42px;
    background: url("../images/tags.png") -178px -14px;
}
.ukr_ic{
    width: 86px;
    height: 42px;
    background: url("../images/tags.png") -1057px -14px;
    margin-right: 8px;
}
.src_ic{
    width: 62px;
    height: 42px;
    background: url("../images/tags.png") -1151px -14px;
}
.dark_h{
    background: lightgray;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 0.5s;
}
.dark_h:hover {
    opacity: 0.1;
}

/* Logo */
.logo{
    padding-right: 43px;
    padding-top: 10px;
}
.logo h1 {
    font-size: 250%;
}
.logo p {
    font-size: 70%;
}

/* Slider news-section in the bottom of header */
.top-news {
    background: #333;
    color: #fff;
    padding: 12px 0;
    min-height: 73px;
    border-top: #9c0000 5px solid;
    margin-bottom: 25px;
}
.slider {
    max-width: 1175px;
    margin: 0 auto;
    position: relative;
    padding: 5px 2.5%;
}
.gallery {
    max-width: 1030px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.images {
    height: 67px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
}
.gallery figure {
    position: relative;
    display: inline-block;
    width: 335px;
}
.opacity:hover{
    opacity: 0.8;
}
.images figure:nth-child(3n-1){
    margin-left: 4px;
    margin-right: 18px;
    border-left: #606060 1px solid;
    border-right: #606060 1px solid;
    padding-left: 19px;
}
.gallery img {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 105px;
    height: 65px;
    float: left;
}
.gallery figcaption{
    display: block;
    float: left;
    height: 70px;
    width: 210px;
    color: #f6f6f6;
    font-size: 15px;
    padding-left: 10px;
    font-weight: bold;
    line-height: 17px;
}

/* Buttons left and right */
.arrow {
    position: absolute;
    top: 50%;
    line-height: 0;
    font-size: 20px;
    color: #cccccc;
    outline: none;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    padding: 0;
    border: #484848 1px solid;
    background: transparent;
    display: block;
}
.arrow:hover {
    cursor: pointer;
}
.prev {
    right: 71px;
}
.next {
    right: 31px;
}




.main{
    max-width: 1175px;
    margin: 0 auto;
    padding: 5px 25px;
    position: relative;
}

/* Left news aside block */
.news_block{
    width: 27.5%;
    margin-right: 1%;
    box-sizing: border-box;
    float: left;
}

/* News HEAD */
.news_head{
    margin: 9px 0 7px 0;
}
.news_title{
    color: #9c0000;
    text-transform: uppercase;
    font-size: 18px;
}
.news_title a:hover{
    opacity: 0.7;
    transition: opacity 0.5s;
}
.news_menu{
    float: right;
    margin-top: 6px;
    font-size: 11px;
    text-transform: uppercase;
}
.gen_news_tag{
    display: inline-block;
    margin-right: 10px;
    color: #a1a1a1;
}

/* Recent news */
.rec_news_tag:hover{
    color: #9c0000;
    transition: color 0.5s;
}
.rec_news_tag_act{        /* For js effect */
    display: inline-block;
    margin-right: 10px;
    color: #9c0000;
}

/* Main news */
.main_news_tag:hover{
    color: #9c0000;
    transition: color 0.5s;
}
.main_news_tag_act{        /* For js effect */
    display: inline-block;
    margin-right: 10px;
    color: #9c0000;
}

/* News tab */
.news_tab{
    overflow: auto;
    position: relative;
    height: 1000px;
}
.news_tab::-webkit-scrollbar {
    display: none;
}
.news_tab_articles {
    width: 320px;
    max-height: 2900px;
    overflow: hidden;
    font-size: 16px;
    line-height: 19px;
}
.news_article{
    padding: 10px 0;
    border-top: #e3e3e3 1px solid;
}
.article_time{
    float: left;
    font-size: 11px;
    line-height: 17px;
    color: #9d9d9d;
}
.rec_news .article_title{
    color: #363636;
    margin-left: 35px;
}
.main_news .article_title{
    color: #262626;
    font-weight: bold;
    margin-left: 35px;
}







/* Center publications block */
/* Upper first publication */
.center_block{
    width: 41%;
    float: left;
    padding-left: 1.5%;
    border-left: #e3e3e3 solid 1px;
}
.publication_img{
    margin-bottom: 8px;
}
.pub_tittle{
    font-size: 28px;
    line-height: 1.05;
    padding: 7px 0 5px 0;
    font-weight: normal;
}
.pub_tittle:hover{
    color: #9c0000;
    transition: color 0.5s;
}
.pub_text{
    font-size: 13px;
    margin: 0 0 8px 0;
    line-height: 1.2;
}
.pub_time{
    font-family: Arial,sans-serif;
    font-size: 10px;
    color: #888;
    text-transform: uppercase;
}


/* Head publications */
.pub_head{
    border-top: #900022 1px solid;
    padding-top: 9px;
    margin: 20px 0 7px 0;
}
.pub_right{
    color: #888;
    margin-left: 12px;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 5px;
    float: right;
}
.pub_right:hover{
    color: #900022;
    transition: color 0.5s;
}
.pub_left{
    font-size: 18px;
    line-height: 1.24em;
    text-transform: uppercase;
    font-weight: normal;
    color: #900022;
}
.pub_left:hover{
    opacity: 0.7;
    transition: opacity 0.5s;
}

/* Main publications */
.pub_article{
    border-top: #e3e3e3 1px solid;
    overflow: hidden;
    padding-top: 15px;
    margin-top: 11px;
}
.pub_article:nth-child(1){
    padding-top:0;
    border-top: 0;
    margin-top: 0;
}
.pub_article_img{
    width: 185px;
    height: 114px;
    float: left;
    margin: 0 15px 5px 0 ;
}
.pub_article_tittle{
    font-size: 19px;
    line-height: 1.1;
    margin: 0 0 5px 0;
    font-weight: bold;
}
.pub_article_tittle:hover{
    color: #9c0000;
    transition: color 0.5s;
}
.pub_article_text{
    font-size: 14px;
    margin: 0 0 6px 0;
    line-height: 1.2;
}
.pub_button{
    display: block;
    border: #d7d7d7 1px solid;
    text-transform: uppercase;
    font-size: 11px;
    color: #950023;
    padding: 14px 15px;
    margin-top: 25px;
}
.pub_button:hover{
    opacity: 0.7;
    transition: 0.5s;
}
.pub_button span{
    font-size: 20px;
    line-height: 11px;
    margin: 1px -7px 0 0;
    color: #888;
    float: right;
}





/* Blog columns-block */
.columns_block{
    float: right;
    width: 300px;
    height: 1000px;
    border-left: #e3e3e3 1px solid;
    padding-left: 18px;
}
.blog{
    border-top: #9c0000 1px solid;
    padding-top: 2px;
    margin-bottom: 8px;
    padding-bottom: 7px;
    /* Menu and tittle from news block */
}
.blog .news_menu{
    position: relative;
}
.blog_slider{
    padding: 13px 0;
    overflow: hidden;
    border-top: #e3e3e3 1px solid;
}
.blog_articles{
    width: 1500px;
    transition: margin-left 250ms;
}
.blog_article{
    width: 300px;
    position: relative;
    float: left;
}
.blog_img{
    position: relative;
    top: 5px;
    float: left;
    margin: 0 13px 5px 0;
}
.blog_tittle{
    float: right;
    font-size: 15px;
    line-height: 16.5px;
    font-weight: bold;
    width: 227px;
}
.blog_name{
    font-size: 11px;
    color: #9c0000;
    font-weight: normal;
    text-transform: uppercase;
}
.blog_tittle:hover{
    color: #9c0000;
    transition: color 0.5s;
}




/* Buttons left and right */
.arrow_b {
    position: absolute;
    top: 50%;
    line-height: 0;
    font-size: 20px;
    color: #b4b4b4;
    outline: none;
    width: 39px;
    height: 27px;
    margin-top: -12px;
    padding: 0;
    border: none;
    background: transparent;
    display: block;
}
.arrow_b:hover {
    cursor: pointer;
}
.prev_b {
    right: 39px;
    border-right: #e3e3e3 1px solid;
}
.next_b {
    right: 0;
}


/* Columns */
.columns{
    border-top: #9c0000 1px solid;
    padding-top: 2px;
    margin-bottom: 20px;
    padding-bottom: 7px;
}
.columns_article{
    border-top: #e3e3e3 1px solid;
    padding: 13px 0 13px 0;
}
.columns_article:nth-child(1){
    padding-top: 0;
    border-top: 0;
}
.columns_a_b{
    float: right;
    width: 227px;
    line-height: 16.5px;
    margin-bottom: 5px;
}
.columns_text{
    font-size: 13px;
    line-height: 16.5px;
}
.columns_tittle {
    font-size: 15px;
    font-weight: bold;
}
.columns_tittle:hover{
    color: #9c0000;
    transition: color 0.5s;
}
.columns_name{
    font-size: 11px;
    color: #9c0000;
    font-weight: normal;
    text-transform: uppercase;
}

.pre_footer{
    height: 100px;
    background: transparent;
    clear: both;
}
footer{
    background: #333;
    color: white;
    border-top: #9c0000 5px solid;
    height: 100px;
}
footer div{
    margin: 0 auto;
    padding: 20px;
    max-width: 1175px;
}

